  <h2><strong><%= @ability.abilityName %></strong></h2>
  <ul>
    <% @pokemons.each do |pokemon| %>
        <% pokemon.each do |thing| %>
          <li> <%= thing.pokemonName %></li>
        <%end%>
      <%end%>
  </ul>
