<html>
  <p><strong>Pokemon Index</strong></p>

  <ul>
    <% @pokemons.each do |pokemon| %>
      <li><%= link_to pokemon.pokemonName, pokemon %> belongs to <%= pokemon.region.name %></li>
    <% end %>
  </ul>
</html>