<html>
  <h1>Pokemon On Rails</h1>
  <p>This is my first real Rails project made for my Full-Stack Web Development course at RRC.</p>
  <p>Here is a list of what you can find here:</p>
  <ul>
    <li><%= link_to "Pokemon", pokemons_path %></li>
    <li><%= link_to "Regions", regions_path %></li>
    <li><%= link_to "Abilities", abilities_path %></li>
    <li><%= link_to "Types", types_path %></li>
  </ul>
</html>